{% load static %}
<html>
	<head>
		<title>Linh's blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">

		<h1><a href="/">Welcome to my little corner</a></h1>
		<p><strong>Here I share my daily stories, experiences, and precious memories. Feel free to share your thoughts with me!</strong></p>
	</head>
	<body>
		
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

		<div>
			<h2><a href="/">Linh's Experiences with Django Girls</a></h2>
			<p>I'm learning Python coding with Django Girls in Oamk Kotkantie Campus.</p>
		</div>
		<div>
			<p><em>Published: 03.11.2018, 13:48</em></p>
			<h2><a href="/">My Bucket List</a></h2>
			<p><ul><li>Traveling around the world</li><li>Seeing the Northern Lights in Santa's Country</li><li>Learning to play piano</li><li>Getting a tattoo</li><li>Riding a camel through the desert</li><li>Going skiing</li><li>Learning to surf</li><li>Going into an airport and buying ticket for a random flight</li></ul></p>
		</div>

		<div>
			<p><em>Plublished 03.11.2018, 14:10</em></p>
			<h2><a href="/">Let's keep in touch!</a></h2>
			<p><a href="https://www.facebook.com/kolorjj">My Facebook</a></p>
			<p><a href="https://www.instagram.com/tris.lala/">My Instagram</a></p>
		</div>
	</body>
</html>