body {
	padding-left: 15px;
}
h1 a {
    color: #FCA205;
    font-family: 'Indie Flower', cursive;
}
h2 a {
    color: #76CF59;
    font-family: 'Indie Flower', cursive;
}
p {
	color: #000000;
	font-family: 'Dancing Script', cursive;
	font-size: 10px;
}
ul {
	color: #000000;
	font-family: 'Dancing Script', cursive;
	font-size: 10px;
}